@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: sans-serif;
  background:
    radial-gradient(circle at top left, #1e1b4b, transparent 30%),
    radial-gradient(circle at bottom right, #0f172a, transparent 40%),
    #020617;
  color: white;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 20px;
}